.header{
    position: absolute;
    width: 1146px;
    height: 68px;
    left: 220px;
    top: 0px;

    background: #FDF1EB;
}
.header p{
    position: absolute;
    margin: 0 0 0 0;;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;

    color: #725C5C;
}
.header .p1{
    width: 391px;
    height: 16px;
    left: 36px;
    top: 5px;

    font-size: 14px;
    line-height: 16px;
}
.header .p2{
    width: 643px;
    height: 26px;
    left: 36px;
    top: 23px;
    
    font-size: 22px;
    line-height: 26px;
}
.header .p3{
    width: 105px;
    height: 16px;
    left: 36px;
    top: 48px;

    font-size: 14px;
    line-height: 16px;
}

.dropbtn{
    position: absolute;
    width: 97px;
    height: 34px;
    left: 789px;
    top: 17px;

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;

    background: #FDF1EB;
}

.header .bem-vindo{
    position: absolute;
    height: 18px;
    width: 72px;
    top: 17px;
    left: 999px;

    line-height: 17px;
    font-size: 14px;

    text-align: right;

    color: #333333
}

.header .email{
    position: absolute;
    width: 163px;
    height: 15px;
    left: 908px;
    top: 36px;

    font-size: 12px;
    line-height: 15px;
    
    text-align: right;
    
    color: #333333;
}